<% var meta = {
    pageTitle:'test',
    description:'foo',
    keywords:'foo',
    url:'foo',

};
%>
<% include common/_header %>
<div id="app">
    <h1>hello, world.</h1>
    <vue-parent></vue-parent>
</div>

<% include common/_footer %>
